.margin-20
{
    margin-top: 20px;
}

.tab-content
{
    display: none;
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 10px;
}

.tab-content.active
{
    display: block;
}

form span.error
{
    display: none;
}